body {
  font-family: "Avenir Next";
}


li {
  list-style: none;
  float: left;
  padding:33px 20px;
  
}

.header {
  background-color:#00FF99;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding:20px 40px;
  
}

.header-logo span {
    color:dimgrey;
}

.header-list li {
  float: left;
  padding: 33px 20px;
}

.main {
  padding: 100px 80px;
}

.copy-container h1 {
  font-size: 50px;
}

.copy-container span {
  color: #ff4a4a;
}


.footer {
  background-color: #2f5167;
  color: #fff;
  height: 80px;
  padding: 10px;
}

.footer h1 {
    font-size:20px;
    float: right;
}


input , textarea {
  width:400px;
  margin-top:10px;
  margin-bottom:30px;
  padding:20px;
  font-size:18px;
  border:1px solid #dee7ec;
}